body {
  background-color: #292929;
  color: white;
}
body a:link, body a:visited {
  color: #ecd907;
  text-decoration: none;
}
body a:hover {
  color: #292929;
  background: #ecd907;
  text-decoration: none;
}
.headline {
  font-size: 5.5em;
  font-weight: bold;
  padding: 10px;
}
