body {
    font-family: Sans-serif;
    background: white;
    padding: 0px;
}
.name {
    font-size: 3em;
    padding-top: 135px;
}
.content_columns {
    float: left;
    width: 180px;
    padding: 5px;
    height: 325px;
    margin: 5px;
    background: #cccccc;
}
.about {
    text-align: center;
}
.resume {
}
.portfolio {
}
.header {
    background: #334071;
    margin: 30px -8px;
    padding: 10px 0px;
    background-image: url(bg1.jpg);
}
.header_content {
    margin: 0px auto;
    width: 600px;
}
img {
    border-style: none;
}
.columns {
    width: 600px;
    margin: 0px auto;
}
.footer {
    width: 600px;
    float: left;
    margin: 0px auto;
}