body {
    //margin: 20px 80px;
    background-color: #cccccc;
    font-family: Sans-serif;
}
.wrapper {
    width: 600px;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
}
#tabContainer {
    height: 200px;
    margin: 0px auto;
}
.tabs {
    padding: 10px;
}
